@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Open+Sans:300,300i,400,400i,600,600i,700,700i|Rambla:400,700");
html {
  width: 100%;
  scroll-behavior: smooth; }

body {
  max-width: 100%;
  font-family: "Open Sans", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%; }
  header p {
    font-size: 40px;
    color: #4d4d4d;
    font-family: "Rambla", sans-serif; }
  header nav {
    width: 460px; }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    header nav a {
      font-size: 16px;
      color: #4d4d4d;
      position: relative;
        position-transition: all 0.6s;
        position-padding-bottom: 3px; }
      header nav a:before {
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: -5px;
        background: #4d4d4d;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      header nav a:hover:before {
        width: 100%;
        left: 0; }

.billboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/main-photo.jpg") no-repeat center;
  width: 90%;
  height: 550px;
  padding: 0 5%; }
  .billboard div {
    text-align: center;
    color: #4d4d4d;
    margin-top: 10%; }
  .billboard .josefin {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    font-weight: 100; }
  .billboard p {
    margin-bottom: 2%; }
  .billboard a {
    display: inline-block;
    background: #4d4d4d;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 3%;
    width: 270px;
    line-height: 40px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .billboard a:hover {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
    .billboard a img {
      width: 10px;
      margin-bottom: 3px; }

.services {
  padding: 5% 10% 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .services div {
    text-align: center;
    width: 320px;
    margin-bottom: 50px; }
    .services div h3 {
      color: #4d4d4d;
      font-size: 22px;
      line-height: 3em; }
    .services div p {
      color: #727272;
      font-size: 14px; }

.line {
  width: 80%;
  margin: 5% auto;
  height: 1px;
  background: #727272; }

.video-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 10%;
  margin-bottom: 60px; }
  .video-block h3 {
    font-size: 30px;
    margin-bottom: 3%;
    color: #4d4d4d;
    text-align: center; }
  .video-block p {
    font-size: 16px;
    text-align: center;
    max-width: 550px;
    color: #727272;
    margin-bottom: 60px; }
  .video-block .video {
    background: black;
    width: 700px;
    height: 350px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .video-block .video img {
      cursor: pointer;
      opacity: 0.3;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .video-block .video img:hover {
        opacity: 1; }

#recent-work {
  font-size: 30px;
  font-weight: 600;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 20px; }

#work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 80%;
  padding: 5% 10%; }
  #work .brand {
    position: relative;
    overflow: hidden;
    margin: 20px 2px; }
    #work .brand p {
      position: absolute;
      bottom: -60px;
      background: #4d4d4d;
      color: #fff;
      width: 262px;
      text-align: center;
      font-weight: 600;
      line-height: 60px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      #work .brand p img {
        margin: 0 0 2px 2px;
        width: 11px; }
    #work .brand:hover p {
      bottom: 0; }

#subscribe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e7e7e7;
  padding: 60px 10%; }
  #subscribe h3 {
    font-size: 30px;
    color: #4d4d4d;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center; }
  #subscribe p {
    font-size: 14px;
    color: #727272;
    margin-bottom: 40px;
    text-align: center; }
  #subscribe a {
    display: block;
    text-align: center;
    border: 2px solid #4d4d4d;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    color: #4d4d4d;
    font-weight: 700;
    width: 300px;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #subscribe a:hover {
      background: #4d4d4d;
      color: #e7e7e7; }

.social {
  text-align: center;
  padding: 70px 0; }
  .social img {
    margin: 10px;
    border: 2px solid #4d4d4d;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .social img:hover {
      -webkit-border-radius: 50%;
              border-radius: 50%; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #4d4d4d;
  padding: 7% 10%; }
  footer div {
    margin: 0 10px 40px; }
  footer h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px; }
  footer p {
    color: #ebebeb;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 24px; }
  footer ul {
    margin-top: -5px;
    margin-left: -20px; }
    footer ul a {
      color: #ebebeb;
      font-size: 14px;
      line-height: 30px; }
      footer ul a:hover {
        color: #727272; }
  footer .minima a, footer .location a {
    color: #727272;
    text-decoration: underline;
    line-height: 24px; }
    footer .minima a img, footer .location a img {
      margin-bottom: 2px;
      opacity: 0.3; }

.wrapper-menu {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 330ms ease-out;
  transition: -webkit-transform 330ms ease-out;
  -o-transition: transform 330ms ease-out;
  transition: transform 330ms ease-out;
  transition: transform 330ms ease-out, -webkit-transform 330ms ease-out; }

.wrapper-menu.open {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.line-menu {
  background-color: #4d4d4d;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 100%;
  height: 6px; }

.line-menu.half {
  width: 50%; }

.line-menu.start {
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right; }

.open .line-menu.start {
  -webkit-transform: rotate(-90deg) translateX(3px);
      -ms-transform: rotate(-90deg) translateX(3px);
          transform: rotate(-90deg) translateX(3px); }

.line-menu.end {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left; }

.open .line-menu.end {
  -webkit-transform: rotate(-90deg) translateX(-3px);
      -ms-transform: rotate(-90deg) translateX(-3px);
          transform: rotate(-90deg) translateX(-3px); }

.wrapper-menu {
  display: none; }

.menuS {
  left: 0; }
